<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Magic</title>
</head>
<body>
<h1>Create</h1>
<form th:action="@{/save}" th:object="${magic}" method="post" enctype="multipart/form-data">
  <!--    lưu các value trong các field vào obj employee rồi access vào hàm save để create-->
  <table>
    <tr>
      <td>Magic Name</td>
      <td><input type="text" th:field="*{magicname}"/></td>
    </tr>
    <tr>
      <td>Mana Cost</td>
      <td><input type="number" th:field="*{manacost}"/></td>
    </tr>
    <tr>
      <td>Image Magic</td>
<!--      restrict that only image files can be uploaded using the accept attribute-->
<!--      không được đặt tên name trùng với tên biến image trong model và ko dùng th:field="*{image} => lỗi 400 cannot convert-->
      <td><input type="file" name="fileImage" id="fileImage" accept="image/png, image/jpeg" required/></td>
    </tr>
  </table>
  <input type="submit" value="Create"/>
</form>
</body>
</html>