<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<a href="/create">Create new Magic</a>
<br><br>
<table border="1">
    <thead>
    <th>Id</th>
    <th>Magic Name</th>
    <th>Price</th>
    <th>Image</th>
    <th colspan="2">Action</th>
    </thead>
    <tbody>
    <tr th:each="magic:${list}">
        <td th:text = "${magic.getId()}"></td>
        <td th:text = "${magic.getMagicname()}"></td>
        <td th:text = "${magic.getManacost()}"></td>
<!--        show image-->
        <td><img th:src = "@{${magic.getImagePath()}}" style="height: 150px; width: 150px;"></td>
        <td><a th:href="@{/delete/{id}(id=${magic.getId()})}">Delete</a></td>
        <td><a th:href="@{/update/{id}(id=${magic.getId()})}">Update</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>