<!DOCTYPE html>
<html lang="en" xmlns:="http://www.w3.org/1999/xhtml" xmlns:th="http://themyleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Camera</title>
</head>
<body>
<h1>Update</h1>
<form th:action="@{/save}" th:object="${camera}" method="post">
    <!--    lưu các value trong các field vào obj employee rồi access vào hàm save để create-->
    <table>
        <tr>
            <td>Camera ID</td>
            <td><input type="text" th:field="*{id}" readonly="readonly"  /></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input type="number" th:field="*{price}"/></td>
        </tr>
    </table>
    <input type="submit" value="Update"/>
</form>
</body>
</html>