<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create or Update</title>
</head>
<body>
<h1>Create / Update</h1>
<form th:action="@{/save}" th:object="${product}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <div>
        Name: <input th:field="*{name}"/>
    </div>
    <div>
        Brand: <input th:field="*{brand}"/>
    </div>
    <div>
        Price <input th:field="*{price}"/>
    </div>
    <div><input type="submit" value="save"/></div>
</form>
</body>
</html>