<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/create}">Create New</a>
<table>
    <tr>
        <th>Employee Id</th>
        <th>Employee Name</th>
        <th>Salary</th>
        <th>Phone</th>
        <th>Department Name</th>
    </tr>
    <tr th:each="employee:${employees}">
        <td th:text="${employee.id}"></td>
        <td th:text="${employee.empname}"></td>
        <td th:text="${employee.salary}"></td>
        <td th:text="${employee.phone}"></td>
        <td th:text="${employee.departmentbyid.getDepname()}"></td>

    </tr>
</table>
</body>
</html>